extends ../_component/layout/base

block awesome-content



    .gallery
        a(href=`${baseUrl}asset/image/education-small.jpeg` width="154") 
            img(
                src=`${baseUrl}asset/image/education-small.jpeg` width="154"
            )
        a(href=`${baseUrl}asset/image/education1-small.jpeg` width="154") 
            img(
                src=`${baseUrl}asset/image/education1-small.jpeg` width="154"
            )
        a(href=`${baseUrl}asset/image/education2-small.png` width="154") 
            img(
                src=`${baseUrl}asset/image/education2-small.png` width="154"
            )
        a(href=`${baseUrl}asset/image/education3-small.jpeg` width="154") 
            img(
                src=`${baseUrl}asset/image/education3-small.jpeg` width="154"
            )
        a(href=`${baseUrl}asset/image/education4-small.jpeg` width="154") 
            img(
                src=`${baseUrl}asset/image/education4-small.jpeg` width="154"
            )
        a(href=`${baseUrl}asset/image/education5-small.jpeg` width="154") 
            img(
                src=`${baseUrl}asset/image/education5-small.jpeg` width="154"
            )
    h1 aaa
